#mail_wrap {
    background-color: black;
    color: white;
    text-align:
}

#mail_table {
    margin: auto;
    width: 90%;
}

#mail_head {
    margin: 0px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 15px;
}

#mail_table th {
    border: 1px solid #535353;
    padding: 8px;
    background-color: #9d9d9d;
    color: black;
}

#mail_table td {
    border: 1px solid;
    padding: 8px;
    background-color: white;
    color: black;

}

#mail_table a {
    border: 1px solid;
    padding: 4px;
    background-color: red;
    border: 1px solid red;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

.mail_btn {
    color: black;
    background-color: white;
    border: none;
    width: 20%;
    padding: 10px;
}

.mail_header_mobile {
    background-color: #9d9d9d;
    padding: 5px;
    display: none;
}

@media (max-width: 768px) {
    #mail_table th {
        display: none;
    }

    #mail_table td {
        padding: 0px;
        border: none;
    }

    .mail_header_mobile {
        display: block;
    }
}
