#header {
    position: fixed;
    top: 0px;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 15;
    transition: 0.6s;
}

.headerRow {
    display: flex;
}

#headerLogo {
    margin: 0px;
    font-size: 120%;
    color: white;
    font-weight: bold;
}

#headerLogo:hover {
    text-decoration: none;
}

.menuCol {
    text-align: right;
}

#navBtn {
    border: none;
    height: 100%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 100%;
}

@media (max-width: 768px) {
    #header {
        background-color: black;
    }

    #top {
        margin-top: 42px;
    }
}

#footer,
#middle,
#top {
    position: relative;
    z-index: 10;
}
