body {
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;

}

.section_title {
    margin: 0px;
    letter-spacing: 1px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.section_title span {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 0.5px solid black;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}


.section {
    padding-bottom: 40px;
    padding-top: 40px;
}

#top_btn {
    position: fixed;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 30px;
    right: 10px;
    bottom: 40px;
    color: black;
    z-index: 100;
}

@media (max-width: 768px) {
    
}
