#footer p {
    padding: 0xp;
    margin: 0px;
}

#footer {
    background-color: #2b2825;
    padding: 25px 0 25px 0px;
    color: white;
}

#copyright {
    text-align: center;
    color: #9a928b
}

#footer_logo {
    text-align: center;
}

#footer_logo img {
    width: 160px;
}

.footer_link {
    text-align: center;
}

.footer_link a {
    color: #b5aba2;
    text-decoration: none;
}

#footer_fix {
    background-color: black;
}

.footer_fix_link {
    padding: 0px;
    margin: 0px;
    text-align: center;
    padding: 5px 0 5px 0;
    font-size: 110%;
    transition: 0.3s;
}

.footer_fix_link:hover {
    background-color: #2e2e2e;
}

.footer_fix_link a {
    color: white;
    text-decoration: none;
    display: block;
}