#japan_adv {
    background-color: black;
}

#stick_img {
    width: 100%;
}

#stick_info {
    color: white;
    font-size: 20px;
}

#stick_warning {
    color: #d6d6d6;
    font-weight: bold;
    font-size: 20px;
}

#stick_title {
    color: white;
    font-size: 27px;
    font-weight: bold;
    text-shadow: 0 0 5px #ff0000;
}

.stick_title_row {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    #stick_title {
        font-size: 18px;
        text-align: center;
    }

    #stick_img {
        width: 80%;
    }

    .stick_img_wrap {
        text-align: center;
    }

    #stick_info {
        font-size: 15px;
    }

    #stick_warning {
        font-size: 15px;
    }
}
