@charset "utf-8";
/* CSS Document */
/* reset */
/*===========================================================
   共通
===========================================================*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, .innerS_Comm_Infobox00 p, .innerS_Comm_Infobox01 p, .formTable, .body_secClass03, .cp_fonts, .cp_fonts p {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1024px; /* (表示領域)横幅最大1024px */
  margin: 0px auto;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
}
ul {
  list-style: disc;
}
table {
  table-layout: fixed; /* IE Tableバグ対応 */
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th {
  text-align: left;
}
q:before, q:after {
  content: '';
}
object, embed {
  vertical-align: top;
}
legend {
  display: none;
}
img, abbr, acronym, fieldset {
  border: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.innerS_Comm {
  margin: 0px 0%;
  text-align: center;
}
.innerS_Comm img {
  max-width: 100%;
  max-height: 100%;
}

#header {
  text-align: center;
}
#header h1 {
  padding-top: 60px;
}
#header h2 {
  text-shadow: 1px 2px 3px #808080;
  padding-top: 60px;
}

/*------------------------------------------------------------
   Scroll Effect
------------------------------------------------------------*/
/*下から上にフェードイン*/
.down-to-top {
  opacity: 0.1;
  transform: translateY(20px);
  transition: all 1s;
}
.down-to-top.scrollin {
  opacity: 1;
  transform: translateY(0);
}
/*------------------------------------------------------------
   [フッダー設定]
------------------------------------------------------------*/
#footer-fixed1 {
  position: fixed; /* フッターの固定 */
  bottom: 0px; /* 位置(下0px) */
  left: 0px; /* 位置(左0px) */
  width: 100%; /* 横幅100%　*/
  height: 90px; /* 縦幅70px */
  background-color: #000000; /* 背景色(黒) */
  text-align: center;
}
#footer-fixed1 img {
  height: 80px;
  width: auto;
  margin: 5px;
}
#footer-fixed1 .a_tag {
  margin: 0px;
}
#footer-fixed1 .a_tag1 {
  margin: -12px;
}
#footer-fixed1 .a_tag2 {
  margin: 0px;
}
#footer-fixed2 {
  position: fixed; /* フッターの固定 */
  bottom: 0px; /* 位置(下0px) */
  left: 0px; /* 位置(左0px) */
  width: 100%; /* 横幅100%　*/
  height: 85px; /* 縦幅85px */
  background-color: #000000; /* 背景色(黒) */
  text-align: center;
}
#footer-fixed2 img {
  height: 64px;
  width: auto;
  margin: 3px;
}
#footer-fixed2 .a_tag3 {
  margin: 2px;
}
#footer-fixed2 .a_tag4 {
  margin: -9px;
}
#footer-fixed2 .a_tag5 {
  margin: -9px;
}
#footer-fixed2 .a_tag6 {
  margin: -9px;
}
.pcr_flow801 {
  display: block;
}
.pcr_flow800 {
  display: none;
}
.pcr_flow460 {
  display: none;
}
.pcr_flow801f {
  display: block;
}
.pcr_flow800f {
  display: none;
}
/*------------------------------------------------------------
   Top画面
------------------------------------------------------------*/
#topdiv {
  background: #ffffff;
  position: relative; /* 親要素 */
}
#topdiv img {}

/*------------------------------------------------------------
   サイトマップ
------------------------------------------------------------*/
.body_type90 {
  font-size: 85%;
  padding: 1% 1%; /*(修正)上下、左右へのボックス内の余白*/
  margin: 0 0 100px; /*上、左右、下へのボックスの外側への余白*/
  text-align: center; /*センタリング*/
}
.body_type90 p {
  font-size: 90%;
  padding: 15px 0px 0px;
}
.body_type90 a {
  padding: 1% 1%; /*(修正)上下、左右へのボックス内の余白*/
  text-decoration: none;
}

/*------------------------------------------------------------
   Section別表示タイプ01h
------------------------------------------------------------*/
.body_type01 {
  border-top: solid #000000;
  border-top-width: 1px;

  padding: 5% 0% 3% 0%;
  margin: 0% 0px 0px 0px;
}
.body_type01 img {
  padding: 0% 0%;
}
.body_type01 h1 {
  text-shadow: 2px 3px 4px #808080;
  font-size: 140%;
  text-align: center;
  padding: 0% 0% 2% 0%;
}.body_type01 h2 {
  text-shadow: 2px 3px 4px #808080;
  font-size: 165%;
  text-align: center;
  padding: 0% 0% 2% 0%;
}
.body_type01 h3 {
  font-size: 100%;
  text-align: center;
  padding: 0% 0% 0% 0%;
}
.body_type01 h4 {
  font-size: 150%;
  text-align: center;
  padding: 0% 0% 2% 0%;
}
.body_type01 h5 {
  text-shadow: 2px 3px 4px #808080;
  font-size: 135%;
  text-align: center;
  padding: 0% 0% 2% 0%;
}

.body_type01 p {
  font-size: 110%;
  text-align: left;
}


/*------------------------------------------------------------
   Section別表示タイプ02h
------------------------------------------------------------*/
.body_type02 {
  border-top: solid #000000;
  border-top-width: 1px;

  padding: 5% 0% 3% 0%;
  margin: 0% 0px 0px 0px;
}
.body_type02 img {
  padding: 0% 0%;
}
.body_type02 h1 {
  text-shadow: 2px 3px 4px #808080;
  font-size: 140%;
  text-align: center;
  padding: 0% 0% 2% 0%;
}
.body_type02 h2 {
  text-shadow: 2px 3px 4px #808080;
  font-size: 165%;
  text-align: center;
  padding: 0% 0% 2% 0%;
}
.body_type02 h3 {
  font-size: 100%;
  text-align: center;
  padding: 0% 0% 0% 0%;
}
.body_type02 h4 {
  font-size: 150%;
  text-align: center;
  padding: 0% 0% 2% 0%;
}
.body_type02 h5 {
  text-shadow: 2px 3px 4px #808080;
  font-size: 135%;
  text-align: center;
  padding: 0% 0% 2% 0%;
}


.pcr_flow_t {
  margin: 0px 15%;
}
.pcr_flow_tt {
  text-align: center;
}
.pcr_flow_y {
  padding: 0% 5%;
}

.pcr_flow_yy {
  width: 100%; /* IE Tableバグ対応 */
}
.pcr_flow_ywj {
  width: 20%;
}
.pcr_flow_ywy {
  width: 3%;
}

/* 検査キット集配方法 */
.innerS_rps01 {
  display: table;
}
.innerS_rps01_elm {
  display: table-cell;
  text-align: center;
  margin: 0 auto;
  padding: 0% 0% 3% 0%;
}
.innerS_rps01_elm img {
  max-width: 100%;
  max-height: 100%;
  width: 90%;
  height: auto;
}
.innerS_rps01_elm p {
  text-align: center;
}

/* information */
.innerS_Comm {
  margin: 0px 2%;
  text-align: center;
}

.innerS_Comm_Infobox00 {
  position: relative;
  margin: 0 ;
  padding: 0.5em 1em;
/*	
  border: solid 1px #8c8c8c;
*/
}
.innerS_Comm_Infobox01 {
  position: relative;
  margin: 1em 0 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #8c8c8c;
}
.innerS_Comm_Infobox01 .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #8c8c8c;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.innerS_Comm_Infobox00 img {
	border: 2px solid black;
}
.innerS_Comm_Infobox00 p {
	text-align: center;
}

.innerS_Comm_Infobox01 p {
  margin: 0;
  padding: 0;
}

/* flexbox */
.div-flex01, .div-flex02, .div-flex03, .div-flex04, .div-flex05 {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 8px;
  border: 0px;
  padding: 5px;
}
.div-flex05 {
  display: flex;
  flex-wrap: nowrap;
  flex-diretion: row;
  justify-content: space-around;
  margin-bottom: 8px;
  border: 0px;
  padding: 5px 15px;
}

.div-flex02 {
	background-color: #000000;
	color: #FFFFFF;
}

.div-flex01:nth-child(odd), .div-flex02:nth-child(odd) {
  flex-direction: row-reverse;
}
.div-flex03, .div-flex04{
  flex-direction: row;
}
.div-flex03 {
  padding: 0% 5%;
}
.div-flex04 {
  padding: 0% 5%;
}

.div-flex01 .item-image .div-flex02 .item-image, .div-flex03 .item-image .div-flex04 .item-image {
  width: 50%;
  margin-bottom: 0;
}
.div-flex01 .item-image img, .div-flex02 .item-image img, .div-flex03 .item-image img, .div-flex04 .item-image img{
  max-width: auto;
  height: auto;
}
.div-flex05 .item-image {
  max-width: 30%;
  height: auto;
}
.div-flex05 .item-image .item-image img {
  max-width: auto;
  height: auto;
}

.div-flex03 .item-box {
  border: 5px solid black;
  border-radius: 10px;
  margin-right: 10px;
  width: 150px;
  height: 70px;  line-height: 70px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

.div-flex01 .item-text, .div-flex02 .item-text {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1em;
}
.div-flex03 .item-text {
  display: flex;
  flex: 1;
  align-items: center;
}
.div-flex04 .item-text {
  display: flex;
  flex: 1;
  margin: 2% 1% 0% 8%;
  align-items: center;
  text-align: left;
}
.div-flex01 .item-text p, .div-flex02 .item-text p, .div-flex02 .item-text ul, .div-flex02 .item-text li, .div-flex03 .item-text p, .div-flex04 .item-text p, .div-flex04 .item-text ul, .div-flex04 .item-text li, .cp_fonts, .cp_fonts p {
	font-size: 90%;
}
.div-flex02 .item-text .item-intext1 {
  text-align: center;
}
.div-flex02 .item-text .item-intext2 {
  text-align: left;
}
.div-flex04 .item-text .item-intext1 {
  text-align: left;
}

.div-flexgroup1, .div-flexgroup2, .div-flexgroup3 {
  padding: 0 0 5% 0;
}
.div-flexgroup2 .item-box {
  border: 5px solid white;
  border-radius: 10px;
  margin-right: 10px;
  width: 300px;
  height: 120px;  line-height: 40px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}


/* 通常BOX */
.div-box01, .div-box02 {
  border: 0px;
  padding: 5px;
}
.div-box01 p {
  font-size: 90%;
  padding: 0% 5% 8% 5%;
}
.div-box02 {
	background-color: #000000;
	color: #FFFFFF;
}
.div-box02 p {
  font-size: 90%;
  padding: 0% 5% 8% 5%;
}
.div-img {
	margin: 4%;
}
.div-img img{
  widtg: auto;
  height: auto;
}

/* Q&A */
.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa .cp_actab {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 0 1em 0;
	color: #1b2538;
}
.cp_qa .cp_actab input {
	position: absolute;
	opacity: 0;
}
/* 質問 */
.cp_qa .cp_actab label {
	text-align: left;
	font-weight: bold;
	line-height: 1.6em;
	position: relative;
	display: block;
	margin: 0 0 0 0;
	padding: 1em 2em 1em 2.5em;
	cursor: pointer;
	text-indent: 1em;
	border-radius: 0.5em;
	background: rgba(27,37,56,0.1);
}
.cp_qa .cp_actab label::before {
	font-family: serif;
	font-size: 1.5em;
	margin-left: -2em;
	padding-right: 0.5em;
	content: 'Q';
}
.cp_qa .cp_actab label:hover {
	transition: all 0.3s;
	color: #00838f;
}
/* --質問の＋アイコン */
.cp_qa .cp_actab label::after {
	font-size: 1.7em;
	font-weight: bold;
	line-height: 2em;
	position: absolute;
	top: 0;
	right: 0;
	content: '＋';
	display: inline-block;
	width: 2em;
	height: 2em;
	-webkit-transition: transform 0.4s;
	        transition: transform 0.4s;
}
/* 答え */
.cp_qa .cp_actab .cp_actab-content {
	text-align: left;
	position: relative;
	overflow: hidden;
	max-height: 0;
	padding: 0 0 0 2.5em;
	-webkit-transition: max-height 0.2s;
	        transition: max-height 0.2s;
	border-radius: 0 0 0.5em 0.5em;
}
.cp_qa .cp_actab .cp_actab-content::before {
	font-family: serif;
	font-size: 1.5em;
	position: absolute;
	margin: 0.4em 0 0 -1em;
	padding: 0;
	content: 'A';
}
.cp_qa .cp_actab .cp_actab-content p {
	margin: 1em 1em 1em 0;
}
/* 質問を開いた時の仕様 */
/* --答えの高さ */
.cp_qa .cp_actab input:checked ~ .cp_actab-content {
	max-height: 40em;
	border: 10px solid rgba(27,37,56,0.1);
}
/* 質問をクリックした時のアイコンの動き */
.cp_qa .cp_actab input:checked ~ label {
	color: #00838f;
	border-radius: 0.5em 0.5em 0 0;
}
/* 質問をクリックした時の+の動き */
.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

/*------------------------------------------------------------
   お問合せ
------------------------------------------------------------*/
#formWrap {
  padding: 1% 1%; /*(修正)上下、左右へのボックス内の余白*/
  margin: 0 auto;
  color: #555;
  line-height: 120%;
}
#formWrap .formTable {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}
#formWrap .formTable td, #formWrap .formTable th {
  font-size: 90%;
  border: 1px solid #ccc;
  padding: 10px;
}
#formWrap .formTable th {
  width: 30%;
  font-weight: normal;
  background: #efefef;
  text-align: left;
}
#formWrap .formTable a {
  padding: 2px 8px;
  background:red;
  color: white;
  border-radius: 5px; 
}


/*===========================================================
   レスポンシブ設定
===========================================================*/
/*------------------------------------------------------------
   画面サイズ 幅:800px以上
------------------------------------------------------------*/
@media only screen and (min-width: 800px) {
  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, .formTable {
    font-size: 20px;
  }
  .pcr_flow801 {
    display: block;
  }
  .pcr_flow800 {
    display: none;
  }
  .pcr_flow460 {
    display: none;
  }
  .pcr_flow801f {
    display: block;
  }
  .pcr_flow800f {
    display: none;
  }

  /* 検査キット集配方法 */
  .innerS_rps01 {
    display: table; 
  }
  .innerS_rps01_elm {
    display: table-cell;
    margin: 0 auto;
    text-align: center;
    padding: 0% 0% 3% 0%;
  }
	
  #formWrap .formTable {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  #formWrap .formTable td, #formWrap .formTable th {
    border: 1px solid #ccc;
    padding: 10px;
  }
  #formWrap .formTable th {
    width: 30%;
    font-weight: normal;
    background: #efefef;
    text-align: left;
  }
	
  #footer {
    padding: 30px 10px 70px 0;
  }
}

/*------------------------------------------------------------
   画面サイズ 幅:799px以下
------------------------------------------------------------*/
@media only screen and (max-width: 799px) {
  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, .formTable {
    font-size: 16px;
  }
  .body_type01 h2 {
    font-size: 140%;
  }  .pcr_flow801 {
    display: none;
  }
  .pcr_flow800 {
    display: block;
  }
  .pcr_flow460 {
    display: none;
  }
  .pcr_flow801f {
    display: none;
  }
  .pcr_flow800f {
    display: block;
  }

  /* 検査キット集配方法 */
  .innerS_rps01 {
    display: block;
  }
  .innerS_rps01_elm {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0% 0% 3% 0%;
  }
  #header {
    position: fixed;
  /*  width: 100%;*/
    z-index: 500;
  }

  .div-flex01, .div-flex02, .div-flex04, .div-flex05 {
    flex-direction: column;
    /*width: 100%;*/
  }
  .div-flex01 .item-image, .div-flex02 .item-image, .div-flex04 .item-image  {
    /*width: 100%;*/
    margin-bottom: 0;
  }
  .div-flex01:nth-child(odd), .div-flex02:nth-child(odd) {
    flex-direction: column;
  }
  .div-flex01 .item-text, .div-flex02 .item-text, .div-flex04 .item-text{
    align-items: center;
  }
  .div-flex04 .item-text {
    text-align: center;
  }
  .div-flex03 .item-box {
    width: 120px;
    height: 60px;  line-height: 60px;
  }
  .div-flex04 {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
	padding: 2% 3%;
  }
  .div-flex04 .item-text {
    padding: 0% 10% 0% 0%;
  }
  .div-flex04 .item-box {
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .div-flex05 .item-image {
    max-width: 100%;
    height: auto;
  }

  #formWrap {
    width: 95%;
    margin: 0 auto;
  }
  #formWrap .formTable th, #formWrap .formTable td {
    width: auto;
    display: block;
  }
  #formWrap .formTable th {
    margin-top: 5px;
    border-bottom: 0;
  }
  input[type="text"], textarea {
    width: 80%;
    padding: 5px;
    font-size: 110%;
    display: block;
  }
  input[type="submit"], input[type="reset"], input[type="button"] {
    display: block;
    width: 100%;
    height: 40px;
  }
	
}
/*------------------------------------------------------------
   画面サイズ 幅:460px以下
------------------------------------------------------------*/
@media only screen and (max-width: 506px) {
  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, .formTable {
    font-size: 16px;
  }
  .body_type01 h2 {
    font-size: 120%;
  }

  .pcr_flow460 {
    display: none;
  }
  .pcr_flow801f {
    display: none;
  }
  .pcr_flow800f {
    display: block;
  }

  /* 検査キット集配方法 */
  .innerS_rps01 {
    display: block;
  }
  .innerS_rps01_elm {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0% 0% 3% 0%;
  }
}

/* Topに戻るボタン */
#btn_page_top801 {
  width: 110px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 95px;
  opacity: 0.6;
}
#btn_page_top801 a {
  position: relative;
  display: block;
  width: 110px;
  height: 90px;
  text-decoration: none;
}
#btn_page_top801 a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f102";
  font-size: 40px;
  color: darkgreen;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -2px;
  bottom: 30;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#btn_page_top801 a::after {
  content: 'PAGE TOP';
  font-size: 95%;
  font-weight: bold;
  color: darkgreen;
  position: absolute;
  top: 45px;
  bottom: 30px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#btn_page_top800 {
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 95px;
  opacity: 0.6;
}
#btn_page_top800 a {
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#btn_page_top800 a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f102";
  font-size: 35px;
  color: darkgreen;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 35px;
  bottom: 30;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#btn_page_top800 a::after {
  content: 'PAGE TOP';
  font-size: 95%;
  font-weight: bold;
  color: darkgreen;
  position: absolute;
  top: 75px;
  bottom: 30px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
