#warning_wrap {
    background-color: black;
    color: white;
}

.warning_mark {
    font-size: 50px;
    margin-bottom: 25px;
}

#warning_title {
    font-size: 50px;
}

#warning_info {
    font-size: 25px;
}

.warning_link {
    border: 1px solid;

}

#link_wrap_a {
    text-decoration: none;
}

#online_pcr_link_a {
    color: black;
    font-size: 15px;
    text-align: center;
    padding: 25px 0 25px 0;
    margin-top: 30px;
    background-image: url(pc_ReceptionDesk.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;

}

.online_pcr_link_p {
    margin: 0px;
    font-size: 40px;
    text-shadow: 0 0 6px white;
}

@media (max-width: 768px) {
    .warning_mark {
        font-size: 40px;
    }

    #warning_title {
        font-size: 20px;
    }

    #warning_info {
        font-size: 20px;
    }

    .online_pcr_link_p {
        font-size: 20px;
    }

    #online_pcr_link_a {
        padding: 25px 0 25px 0;
    }
}
