.flow_num {
    text-align: right;
    position: relative;
    font-size: 800%;
    bottom: 30px;
    color: rgba(37, 123, 223, 0.66);
    left: 15px;
}

.flow_title {
    font-weight: bold;
    font-size: 150%;
}

.flow_content {
    font-size: 130%;
}

.flow_warning {
    font-size: 100%;
    font-weight: bold;
}

@media (max-width: 768px) {
    .flow_num {
        left: 0px;
    }
}
